.fixed-button {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 0.5rem;
  position: fixed;
  bottom: 1.2rem;
  right: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.fixed-button img {
  height: 3rem;
}
